@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    padding: 20px;
    border-radius: 10px;
    background-color: #CBF1F5;
    box-shadow: #e1f1e1 5px 5px 10px;
}

.content {
    background-color: #A6E3E9;
    border-radius: .3rem;
}

.typing-text {
    background-color: #E3FDFD;
    padding: 10px;
    text-align: justify;

}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    padding: .7rem;
    margin-top: .8rem;

}

li {
    text-align: center;

}

li p {
    display: inline;
    font-weight: 700;
}

button {
    background-color: #064246;
    padding: 1rem 1.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ddd;
}

.active {
    background-color: rgba(21, 201, 21, 0.2);
    font-weight: 700;
}

.red {
    background-color: rgba(255, 5, 5, 0.705);
    font-weight: 700;
    text-decoration: dashed;
}

#type {
    opacity: 0;

}

.box {
    margin: 0 auto;
    padding: 2px;
    background-color: #a80505;
    /* gold */
    /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='), url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
        url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    background-repeat: no-repeat;
    background-size: 0 2px, 0 100%, 0% 2px;
    background-position: top center, top center, bottom center;
    -webkit-animation: drawBorderFromCenter 60s;
}

.content2 {
    background: #fff;
    padding: 2em;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
        background-size: 0 2px, 0 0, 100% 100%;
    }

    20% {
        background-size: 100% 2px, 100% 0, 100% 100%;
    }

    66% {
        background-size: 100% 2px, 100% 98%, 100% 100%;
    }

    99% {
        background-size: 100% 2px, 100% 98%, 0 2px;
    }
}